nvidia-cuda-cupti==13.0.85
requests==2.34.2
gitdb==4.0.12
protobuf==7.35.0
torch==2.12.0
annotated-types==0.7.0
torchvision==0.27.0
cuda-pathfinder==1.5.4
nvidia-nvshmem-cu13==3.4.5
cuda-toolkit==13.0.2
triton==3.7.0
pydantic==2.13.4
mpmath==1.3.0
idna==3.16
nvidia-nccl-cu13==2.29.7
lightning-utilities==0.15.3
setuptools==81.0.0
charset-normalizer==3.4.7
GitPython==3.1.50
wandb==0.27.0
nvidia-cusparse==12.6.3.3
fsspec==2026.4.0
typing-inspection==0.4.2
click==8.4.1
platformdirs==4.9.6
nvidia-curand==10.4.0.35
filelock==3.29.0
numpy==2.4.6
nvidia-cuda-nvrtc==13.0.88
networkx==3.6.1
pillow==12.2.0
smmap==5.0.3
sentry-sdk==2.60.0
MarkupSafe==3.0.3
cuda-bindings==13.2.0
nvidia-cuda-runtime==13.0.96
nvidia-cusolver==12.0.4.66
pydantic_core==2.46.4
nvidia-cudnn-cu13==9.20.0.48
PyYAML==6.0.3
pip==26.0.1
nvidia-nvjitlink==13.0.88
packaging==26.2
certifi==2026.5.20
Jinja2==3.1.6
nvidia-cufile==1.15.1.6
nvidia-cufft==12.0.0.61
torchmetrics==1.9.0
nvidia-cublas==13.1.1.3
sympy==1.14.0
nvidia-nvtx==13.0.85
urllib3==2.7.0
nvidia-cusparselt-cu13==0.8.1
typing_extensions==4.15.0
